/*.user-card-wrapper {*/
/*width: 90px;*/
/*}*/

.user-detected-detail {
    margin-top: 40px;
}

/*.repo-wraper {*/
/*background-color: darkgray;*/
/*margin: 10px;*/
/*}*/

.follow-wrapper {
    padding: 20px;
}

.org-item {
    margin-bottom: 50px;
    border-radius: 20px;
    /*background-color: #c7c7c7;*/
    padding: 10px;
    /*border-radius: 25px;*/
    border-style: solid;
    border-width: thin;
}
